body{
margin:0;
background:#000;
font-family:Arial, sans-serif;
color:white;
text-align:center;
font: white;
background: gray;
}
p2{
  color: white;
  font: white;
  font-color: white;
}
canvas{
display:block;
margin:40px auto;
}

.explanation{
max-width:750px;
margin:40px auto 80px auto;
padding:25px;
background:#111;
border-radius:10px;
line-height:1.6;
}

.explanation h2{
margin-top:0;
font-size:26px;
}



